<% if user_signed_in? %>
  <% if current_user.admin? %>
    <h3>Admin</h3>
    <p><%= link_to 'User count:', users_path %> <%= User.count %></p>
  <% else %>
    <h1> Dashboard Page </h1>
  <% end %>
<% else %>
  <div id="welcome" class="span7">
    <h1>Chowdy Subscription Plan Site</h1>
    <h3>Please choose your plan to build a successful subscription.</h3>
  </div>
  <div class="row col-sm-offset-2 col-sm-10 plans">
    <div class="col-sm-3 subform">
      <div class="plan"><h2>6 meals per week</h2></div>
      <h3>$59.65 <br>per week</h3>
      <%= link_to 'Subscribe', new_user_registration_path(plan: 'six_meal'), :class => 'btn btn-primary' %>
    </div>
    <div class="col-sm-3 subform featured">
      <div class="plan featured-plan"><h2>12 meals per week</h2></div>
      <h3>$119.40<br>per week</h3>
      <%= link_to 'Subscribe', new_user_registration_path(plan: 'twelve_meal'), :class => 'btn btn-primary' %>
    </div>
    <div class="col-sm-3 subform">
      <div class="plan"><h2>18 meals per week</h2></div>
      <h3>$179.10<br>per week</h3>
      <%= link_to 'Subscribe', new_user_registration_path(plan: 'eighteen_meal'), :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>