<script src="https://checkout.stripe.com/v2/checkout.js"></script>

<div class="col-sm-6">
	<section class="panel panel-default">
		<header class="panel-heading font-bold"> Update account information </header>
		<div class="panel-body">
			<%= form_for(@user, :as => :user, :url => update_email_path(@user), :html => { :method => :put, :role => 'form'}) do |f| %>
    		<div class="form-group">
    			<%= f.label :email %>
      		<%= f.email_field :email, class: 'form-control' %>
      	</div>
      	<%= f.submit 'Update email', :class => 'btn btn-md btn-default m-t-sm' %>
      <% end %>

      <div class="split-line"></div>
      
      <%= form_for(@user, :as => :user, :url => update_name_path(@user), :html => { :method => :put, :role => 'form'}) do |f| %>
    		<div class="form-group">
    			<%= f.label :name %>
      		<%= f.text_field :name, class: 'form-control' %>
      	</div>
      	<%= f.submit 'Update name', :class => 'btn btn-md btn-default m-t-sm' %>
      <% end %>
      
      <div class="split-line"></div>

      <%= form_for @subscription, :as => :subscription, :url => subscription_change_card_path(@subscription), :html => { :id => 'change_card_form', :method => :put, :role => 'form'} do |f| %>
        <div class="form-group">
          <%= f.label 'Credit Card' %>
          <label> Credit Card </label> 
          <p style="margin-top:10px;margin-bottom:20px;"> <%=@subscription.card_type%> ending in <%=@subscription.card_last4%></p>
          <input type="submit" name="commit" value="Change Card" class="btn btn-md btn-info m-t-sm" data-key=<%=ENV['STRIPE_PUBLISHABLE_KEY']%> data-description="Update your credit card info" data-amount="0" data-label="Change Card" data-panel-label="Change Now">
        </div>
      <% end %>

		</div>
	</section>
</div>